body {
  margin: 0;
  padding: 0 24px;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #212121;
  text-align: center;

  background: gainsboro;

  html {
    scroll-behavior: smooth;
  }

  html,
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  .list {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    text-decoration: none;
  }

  a {
    color: inherit;
    text-decoration: none;
    font-style: normal;
    cursor: pointer;
  }

  button {
    padding: 0;
    font-family: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

/* General */

.header {
  position: fixed;
  top: 0;
  left: 0;
  margin-bottom: 24px;
  padding: 12px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background: rgb(125, 180, 239);
  font-size: 18px;
}

.nav-list {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;

  & > li:hover {
    color: #615a5a;
  }
}

main {
  margin-top: 74px;
}

.title {
  margin-bottom: 24px;
}

/* Home */

.home-paragraph {
  margin-bottom: 24px;
  font-size: 16px;
}

.home-img-thumb {
  display: flex;
  justify-content: center;
}

/* Adverts */

.form {
  width: 500px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-input {
  width: 300px;
}

.submit-btn {
  margin-top: 12px;
  width: 100px;
  padding: 8px 10px;
  border: 2px solid black;
  border-radius: 2px;
}

.submit-btn:hover {
  background-color: aliceblue;
}
.adverts-list {
  margin-top: 24px;
  text-align: start;

  & > li {
    display: flex;
    gap: 8px;
    margin-bottom: 12px;
  }
}

/* Average number */

.avr-results {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  margin-top: 24px;
}
