:root {
  /* variables */
  /* colors */
  --first-bg-color: #f8f8f8;
  --second-bg-color: rgb(125, 180, 239);
  --third-bg-color: rgb(125, 180, 239);
}

body {
  margin: 0;
  padding: 0 24px;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #212121;
  text-align: center;

  background: var(--first-bg-color);

  html {
    scroll-behavior: smooth;
  }

  html,
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  .list {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    text-decoration: none;
  }

  a {
    color: inherit;
    text-decoration: none;
    font-style: normal;
    cursor: pointer;
  }

  button {
    padding: 0;
    font-family: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

/* General */

.header {
  position: fixed;
  top: 0;
  left: 0;
  margin-bottom: 24px;
  padding: 12px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background: var(--second-bg-color);
  font-size: 18px;
}

.nav-list {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;

  & > li:hover {
    color: #615a5a;
  }
}

main {
  margin-top: 74px;
}

.title {
  margin-bottom: 26px;
}

/* Home */

.paragraph {
  margin-bottom: 24px;
  font-size: 20px;
}

.image-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Adverts */

.form {
  width: 500px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-input {
  width: 300px;
  padding: 10px;
  background: linear-gradient(135deg, #dae8f7, #d6e5f7);
  border: none;
  color: #000;
  font-size: 16px;
  border-radius: 12px;
}

.submit-btn {
  margin-top: 12px;
  width: 180px;
  padding: 8px 10px;
  border: 4px solid var(--second-bg-color);
  border-radius: 4px;
}

.submit-btn:hover {
  background-color: var(--second-bg-color);
}
.adverts-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  text-align: start;
  font-size: 16px;

  & > li {
    display: flex;
    gap: 36px;
    margin-bottom: 12px;
  }
}

.adverts-list-text {
  min-width: 150px;
  word-wrap: break-word;
}
/* Average number */

.avr-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 24px;
}

.checkbox-wrap {
  display: flex;
  gap: 65px;
  margin-top: 16px;
}

.checkbox {
  display: flex;
  flex-direction: row-reverse;
  gap: 12px;
}

.prev-result-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: start;
}

.prev-result-item {
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 200px));
  column-gap: 36px;
  align-content: start;
}

.result {
  font-size: 16px;
  text-align: left;
}
