:root {
  /* variables */
  /* colors */
  --first-bg-color: #f8f8f8;
  --second-bg-color: rgb(125, 180, 239);
  --third-bg-color: rgb(125, 180, 239);
  --hue: 223;
  --bg: hsl(var(--hue), 90%, 90%);
  --fg: hsl(var(--hue), 90%, 10%);
  --danger: hsl(3, 90%, 45%);
  --danger-down: hsl(3, 90%, 65%);
  --white: hsl(0, 0%, 100%);
  --trans-dur: 0.3s;
}

body {
  margin: 0;
  padding: 0 24px;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #212121;
  text-align: center;

  background: var(--first-bg-color);

  html {
    scroll-behavior: smooth;
  }

  html,
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  .list {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    text-decoration: none;
  }

  a {
    color: inherit;
    text-decoration: none;
    font-style: normal;
    cursor: pointer;
  }

  button {
    padding: 0;
    font-family: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

/* General */

.header {
  position: fixed;
  top: 0;
  left: 0;
  margin-bottom: 24px;
  padding: 12px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background: var(--second-bg-color);
  font-size: 18px;
}

.nav-list {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;

  & > li:hover {
    color: #615a5a;
  }
}

main {
  margin-top: 74px;
}

.title {
  margin-bottom: 26px;
}

/* Home */

.paragraph {
  margin-bottom: 24px;
  font-size: 20px;
}

.image-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Adverts */

.form {
  width: 500px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-input {
  width: 300px;
  padding: 10px;
  background: linear-gradient(135deg, #dae8f7, #d6e5f7);
  border: none;
  color: #000;
  font-size: 16px;
  border-radius: 12px;
}

.submit-btn {
  margin-top: 12px;
  width: 180px;
  padding: 8px 10px;
  border: 4px solid var(--second-bg-color);
  border-radius: 4px;
}

.submit-btn:hover {
  background-color: var(--second-bg-color);
}
.adverts-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  text-align: start;
  font-size: 16px;

  & > li {
    width: 100%;
    display: flex;
    gap: 36px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    background-color: #ffe4e9;
    border-radius: 8px;
    padding: 8px;
  }
}

.adverts-list-text {
  min-width: 150px;
  word-wrap: break-word;
}
/* Average number */

.avr-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 24px;
}

.checkbox-wrap {
  display: flex;
  gap: 65px;
  margin-top: 16px;
}

.checkbox {
  display: flex;
  flex-direction: row-reverse;
  gap: 12px;
}

.prev-result-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: start;
}

.prev-result-item {
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 200px));
  column-gap: 36px;
  align-content: start;
}

.result {
  font-size: 16px;
  text-align: left;
}

/* delete btn */

:root {
  /* font-size: calc(20px + (40 - 20) * (100vw - 320px) / (2560 - 320)); */
}

.del-btn {
  background-color: var(--danger);
  border-radius: 8px;
  color: var(--white);
  cursor: pointer;
  display: flex;
  align-items: center;
  /* margin: auto; */
  margin-left: auto;
  outline: transparent;
  padding: 0.5em 1.25em;
  -webkit-tap-highlight-color: #0000;
  transition: background-color var(--trans-dur);
  font-size: 16px;
}
.del-btn:not(:disabled):focus-visible,
.del-btn:not(:disabled):hover {
  background-color: var(--danger-down);
}
.del-btn__icon {
  display: block;
  margin: -0.75em 0 -0.75em -0.75em;
  pointer-events: none;
  width: 3em;
  height: 3em;
}
.del-btn__icon-lid {
  transform-origin: 12px 5px;
}
.del-btn__icon-can {
  transform-origin: 12px 18px;
}
.del-btn__letters {
  display: flex;
}
.del-btn__letter,
.del-btn__letter-box {
  display: inline-block;
}
.del-btn[data-running="false"] .del-btn__letters {
  animation: fadeIn 0.3s cubic-bezier(0.77, 0, 0.18, 1) forwards;
}
.del-btn[data-running="true"] .del-btn__icon-lid,
.del-btn[data-running="true"] .del-btn__icon-can,
.del-btn[data-running="true"] .del-btn__icon-can-fill,
.del-btn[data-running="true"] .del-btn__letter,
.del-btn[data-running="true"] .del-btn__letter-box {
  animation: trashLid 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
}
.del-btn[data-running="true"] .del-btn__icon-can {
  animation-name: trashCan;
}
.del-btn[data-running="true"] .del-btn__icon-can-fill {
  animation-name: trashCanFill;
}
.del-btn[data-running="true"] .del-btn__letter-box {
  animation-name: letterDrop;
  animation-timing-function: cubic-bezier(0.77, 0, 1, 1);
}
.del-btn[data-running="true"]
  .del-btn__letter-box:nth-child(1)
  .del-btn__letter {
  animation-name: letter1;
}
.del-btn[data-running="true"] .del-btn__letter-box:nth-child(2),
.del-btn[data-running="true"]
  .del-btn__letter-box:nth-child(2)
  .del-btn__letter {
  animation-delay: 0.04s;
}
.del-btn[data-running="true"]
  .del-btn__letter-box:nth-child(2)
  .del-btn__letter {
  animation-name: letter2;
}
.del-btn[data-running="true"] .del-btn__letter-box:nth-child(3),
.del-btn[data-running="true"]
  .del-btn__letter-box:nth-child(3)
  .del-btn__letter {
  animation-delay: 0.08s;
}
.del-btn[data-running="true"]
  .del-btn__letter-box:nth-child(3)
  .del-btn__letter {
  animation-name: letter3;
}
.del-btn[data-running="true"] .del-btn__letter-box:nth-child(4),
.del-btn[data-running="true"]
  .del-btn__letter-box:nth-child(4)
  .del-btn__letter {
  animation-delay: 0.12s;
}
.del-btn[data-running="true"]
  .del-btn__letter-box:nth-child(4)
  .del-btn__letter {
  animation-name: letter4;
}
.del-btn[data-running="true"] .del-btn__letter-box:nth-child(5),
.del-btn[data-running="true"]
  .del-btn__letter-box:nth-child(5)
  .del-btn__letter {
  animation-delay: 0.16s;
}
.del-btn[data-running="true"]
  .del-btn__letter-box:nth-child(5)
  .del-btn__letter {
  animation-name: letter5;
}
.del-btn[data-running="true"] .del-btn__letter-box:nth-child(6),
.del-btn[data-running="true"]
  .del-btn__letter-box:nth-child(6)
  .del-btn__letter {
  animation-delay: 0.2s;
}
.del-btn[data-running="true"]
  .del-btn__letter-box:nth-child(6)
  .del-btn__letter {
  animation-name: letter6;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue), 90%, 10%);
    --fg: hsl(var(--hue), 90%, 90%);
  }
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes trashLid {
  from,
  86%,
  to {
    transform: translate(0, 0) rotate(0);
  }
  33.33%,
  46% {
    animation-timing-function: cubic-bezier(0.77, 0, 1, 1);
    transform: translate(-2px, -4px) rotate(-40deg);
  }
  54%,
  70% {
    animation-timing-function: linear;
    transform: translate(0, 0) rotate(0);
  }
  62% {
    animation-timing-function: linear;
    transform: translate(0, -2px) rotate(9deg);
  }
  78% {
    animation-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transform: translate(0, -1px) rotate(-6deg);
  }
}
@keyframes trashCan {
  from,
  86%,
  to {
    transform: translate(0, 0) rotate(0);
  }
  33.33%,
  46% {
    animation-timing-function: cubic-bezier(0.77, 0, 1, 1);
    transform: translate(-8px, 3px) rotate(40deg);
  }
  54%,
  70% {
    animation-timing-function: linear;
    transform: translate(0, 0) rotate(0);
  }
  62% {
    animation-timing-function: linear;
    transform: translate(-1px, 0) rotate(-4deg);
  }
  78% {
    animation-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transform: translate(0, 0) rotate(2deg);
  }
}
@keyframes trashCanFill {
  from,
  25%,
  to {
    y: 24px;
  }
  66.67%,
  83.33% {
    y: 12px;
  }
}
@keyframes letterDrop {
  from,
  33.33% {
    transform: translate(0, 0);
  }
  41.67%,
  to {
    transform: translate(0, 0.625em);
  }
}
@keyframes letter1 {
  from {
    transform: translate(0, 0) rotate(0);
  }
  33.33% {
    transform: translate(0.75em, 0) rotate(30deg) scale(1);
  }
  41.67% {
    transform: translate(-2.375em, 0) rotate(-135deg) scale(0.75);
  }
  46%,
  to {
    transform: translate(-2.375em, 0) rotate(-135deg) scale(0);
  }
}
@keyframes letter2 {
  from {
    transform: translate(0, 0) rotate(0);
  }
  33.33% {
    transform: translate(0.75em, 0) rotate(30deg) scale(1);
  }
  41.67% {
    transform: translate(-3em, 0) rotate(-135deg) scale(0.75);
  }
  46%,
  to {
    transform: translate(-3em, 0) rotate(-135deg) scale(0);
  }
}
@keyframes letter3 {
  from {
    transform: translate(0, 0) rotate(0);
  }
  33.33% {
    transform: translate(0.75em, 0) rotate(30deg) scale(1);
  }
  41.67% {
    transform: translate(-3.375em, 0) rotate(-135deg) scale(0.75);
  }
  46%,
  to {
    transform: translate(-3.375em, 0) rotate(-135deg) scale(0);
  }
}
@keyframes letter4 {
  from {
    transform: translate(0, 0) rotate(0);
  }
  33.33% {
    transform: translate(0.75em, 0) rotate(30deg) scale(1);
  }
  41.67% {
    transform: translate(-3.75em, 0) rotate(-135deg) scale(0.75);
  }
  46%,
  to {
    transform: translate(-3.75em, 0) rotate(-135deg) scale(0);
  }
}
@keyframes letter5 {
  from {
    transform: translate(0, 0) rotate(0);
  }
  33.33% {
    transform: translate(0.75em, 0) rotate(30deg) scale(1);
  }
  41.67% {
    transform: translate(-4.125em, 0) rotate(-135deg) scale(0.75);
  }
  46%,
  to {
    transform: translate(-4.125em, 0) rotate(-135deg) scale(0);
  }
}
@keyframes letter6 {
  from {
    transform: translate(0, 0) rotate(0);
  }
  33.33% {
    transform: translate(0.75em, 0) rotate(30deg) scale(1);
  }
  41.67% {
    transform: translate(-4.75em, 0) rotate(-135deg) scale(0.75);
  }
  46%,
  to {
    transform: translate(-4.75em, 0) rotate(-135deg) scale(0);
  }
}
